{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Slug</th>
            <th>Read</th>
            <th>Write</th>
        </tr>
        </thead>
        <tbody>
        {% for database in databases %}
            <tr>
                <td>{{ database.slug }}</td>
                <td>{{ database.readToken }}</td>
                <td>{{ database.writeToken }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
